<footer class="w-full bg-CheeseColorPrimary text-white py-6">
<div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="grid grid-cols-1 md:grid-cols-3 gap-6">
    <!-- Logo & Description -->
    <div>
        <h2 class="text-xl font-bold mb-2">CheeseRun</h2>
        <p class="text-amber-200">Encuentra alojamientos únicos en todo el mundo con CheeseRun. Tu próxima aventura comienza aquí.</p>
    </div>

    <!-- Navigation Links -->
    <div>
        <h3 class="text-lg font-semibold mb-2">Explorar</h3>
        <ul class="space-y-2">
        <li><a href="#" class="text-amber-200 font-semibold hover:text-white">Inicio</a></li>
        <li><a href="#" class="text-amber-200 font-semibold hover:text-white">Buscar alojamientos</a></li>
        <li><a href="#" class="text-amber-200 font-semibold hover:text-white">Propietarios</a></li>
        <li><a href="#" class="text-amber-200 font-semibold hover:text-white">Contacto</a></li>
        </ul>
    </div>

    <!-- Social & Contact -->
    <div>
        <h3 class="text-lg font-semibold mb-2">Síguenos</h3>
        <div class="flex space-x-4">
        <a href="#" class="text-amber-200 font-semibold hover:text-white">Facebook</a>
        <a href="#" class="text-amber-200 font-semibold hover:text-white">Twitter</a>
        <a href="#" class="text-amber-200 font-semibold hover:text-white">Instagram</a>
        </div>
        <h3 class="text-lg font-semibold mt-4 mb-2">Contáctanos</h3>
        <p class="text-amber-200 ">info-cheeserun</p>
        <p class="text-amber-200 ">+34 123 456 789</p>
    </div>
    </div>

    <div class="mt-8 border-t border-amber-300-700 pt-4 text-sm text-white font-semibold-500 text-center">
    <p>&copy; 2024 CheeseRun. Todos los derechos reservados.</p>
    </div>
</div>
</footer>