<div class="max-w-sm bg-CheeseColorTerciary border border-gray-200 rounded-xl overflow-hidden shadow-lg hover:shadow-2xl transition-shadow duration-300 cursor-pointer transform hover:scale-105">

        <!-- Contenido de la tarjeta -->
    <div class="p-5">
      <!-- Nombre de la propiedad -->
      <h3 class="text-xl font-semibold text-Letra1 truncate">{{ nombre }}</h3>
      
      <!-- Descripción corta de la propiedad -->
      <p class="text-Letra2 mt-2 text-sm leading-relaxed">{{ fechaLlegada}}  -  {{ fechaPartida}}</p>
      <p class="text-Letra2 mt-2 text-sm leading-relaxed">{{ nombreArrendatario}}</p>
      <p class="text-Letra2 mt-2 text-sm leading-relaxed">{{ calificacionPromedio}}</p>
      <p class="text-Letra2 mt-2 text-sm leading-relaxed">{{ cantidadPersonas}}</p>

      <div>
        <button (click)="aceptarSolicitud()" class="bg-Letra1 rounded-full w-full p-1 mt-3 text-white hover:bg-CheeseColorSecondary transition duration-300">Aceptar</button>
      </div>
      
    </div>
  </div>