<main class="flex flex-col items-center justify-center h-screen text-center">
  <h1 class="text-4xl md:text-6xl font-bold text-gray-900 mb-4">Descubre alojamientos únicos</h1>
  <p class="text-lg md:text-xl text-gray-700 mb-8">Encuentra tu próxima aventura con CheeseRun. Alojamientos únicos y experiencias inolvidables.</p>
  <div class="flex justify-center space-x-4">
      <a routerLink="/login" class="bg-red-600 text-white font-semibold py-2 px-4 rounded-lg hover:bg-red-700 transition duration-300">Acceso</a>
      <a routerLink="/register" class="bg-blue-600 text-white font-semibold py-2 px-4 rounded-lg hover:bg-blue-700 transition duration-300">Registro</a>
  </div>
</main>
